body{
  font-family: Arial;
  /*background-color: #1651E8;*/ /* #396CE8; */
  background: url("../imgs/aiako_bkgrnd.jpg");
  background-size: 100%;
}

.header {
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 0px;
}

a:link {
  color: #2B2B2B; /*#3425FF;*/
}

a:visited {
  color: #2639C9; /*#7B33E8;*/ /* #8840E8 */
}

nav {
  border-bottom: 1px solid black;
  text-align: center;
    background-color: #737A7D; /*#396CE8;*/ /* #32B6FF */ /* #6339E8 */
  margin-top: 0px;
  padding: 10px 0px 0px 0px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin-top: 0px;
 }

nav li {
  width: 100px;
  display: inline;
  padding: 0px 80px 0px 80px;
}

.intro-text {
  height: 265px;
  width: 50%;
  display: inline-block;
  margin: 50px 0px 100px 0px;
  padding-left: 26%;
  padding-right: 25%;
  text-align: center;
  color: black;
}

.about-text {
  height: 265px;
  width: 50%;
  display: inline-block;
  margin: 50px 0px 100px 0px;
  padding-left: 26%;
  padding-right: 25%;
  text-align: center;
  color: black;
}

p {
  width: 25%
  padding-left: 25%;
  display: inline-block;
}

.social {
  clear: both;
  border-top: 1px solid black;
  padding: 10px 0px 10px 0px;
}

.social h4 {
  margin: 0px;
  padding-bottom: 5px;
}

.nav-social {
  width: 100%;
  display: inline;
  margin: 0px;
}

.nav-social li {
  padding: 10px;
  margin-right: 35px;
}

footer {
  text-align: center;
  font-size: 10px;
  clear: both;
  padding-top: 65px;
}

#icon {
  margin: 5px;
}